<h1>New <%= object_name[:single] %></h1>

<%%= error_messages_for :<%= object_name[:single] %> %>

<%% form_for(@<%= object_name[:single] %>) do |f| %>
<% for attribute in attributes -%>
  <p>
    <b><%= attribute[:name] %></b><br />
    <%%= f.<%= attribute[:type] %> :<%= attribute[:name]%> %>
  </p>

<% end -%>
  <p>
    <%%= f.submit "Criar" %>
  </p>
<%% end %>

<%%= link_to 'Voltar', <%=object_name[:plural] %>_path %>
