<h1>Editing <%= object_name[:single] %></h1>

<%%= error_messages_for :<%= object_name[:single] %> %>

<%% form_for(@<%= object_name[:single] %>) do |f| %>
<% for attribute in attributes -%>
  <p>
    <b><%= attribute[:name] %></b><br />
    <%%= f.<%= attribute[:type] %> :<%= attribute[:name] %> %>
  </p>

<% end -%>
  <p>
    <%%= f.submit "Atualizar" %>
  </p>
<%% end %>

<%%= link_to 'Show', @<%= object_name[:single] %> %> |
<%%= link_to 'Back', <%= object_name[:plural] %>_path %>
