<h1>Detalhes Sobre <%= object_name[:single].humanize %></h1>
<p>
<% for attribute in attributes -%>
<p>
  <b><%= attribute[:name].humanize %>:</b>
  <%%=h @<%= object_name[:single]  %>.<%= attribute[:name] %> %>
</p>

<% end -%>

<%%= link_to 'Alterar', edit_<%= object_name[:single] %>_path(@<%= object_name[:single] %>) %> |
<%%= link_to 'Voltar', <%=  object_name[:plural] %>_path %>
</p>